<h1>Skabere</h1>

<h2>Benjamin Ewe</h2>
<img src="https://pngimg.com/uploads/steve_jobs/steve_jobs_PNG2.png" alt="Benjamin Ewe" style="width:500px;" />

<h2>Christian Walker</h2>
<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwhfpdubai.com%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fjuicebox_large%2Fpublic%2F2020-03%2Fe0a00465b5138a7c6ee95705948fea8b.jpg%3Fitok%3DILBtPG3v&f=1&nofb=1&ipt=dc660b9fdd73090bf27e00a94c9deed22e1306807d6ce2e6cd7b30903cf63d53&ipo=images" alt="Christian Walker" style="width:500px;" />