<h1>Det her er en inputform til at skabe et nyt produkt i databasen. Den kræver en ID, der skal være iden i databasen, en pris, og en mængde<h2>
<h2>Indtast venligst informationer</h2>

<form method="post">
	<label> Database ID: </label>
	<br />
	<input type="text" name="DBID"/>
	<br />
	<label> Hvad skal den koste: </label>
	<br />
	<input type="text" name="Cost" />
	<br />
	<label> Hvor mange skal der være: </label>
	<br />
	<input type="text" name="amount" />
	<br />
	<input type="submit" value="SKAB DEN"
</form>