<h2>Indtast venligst informationer</h2>

<form method="post">
	<label> Database ID: </label>
	<br />
	<input type="text" name="DBID"/>
	<br />
	<label> Hvad skal den koste: </label>
	<br />
	<input type="text" name="cost" />
	<br />
	<input type="submit" value="SKAB DEN"
</form>