<h1>Den her bør nok fjernes, brug Addproduct i stedet</h1>


<div class="login-container">
    <h2>Opdater inventar</h2>
    <form action="#" method="post">
        <label for="DBID">DBID:</label>
        <input type="text" id="DBID" name="DBID" required>
        <label for="Mængde">Mængdde:</label>
        <input type="Mængde" id="Mængde" name="Mængde" required placeholder="test">
        <input type="submit" value="Login">
    </form>
</div>