﻿<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddProduct">AddProduct</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ModifyProduct">ModifyProduct</a>