@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Jensens Alkohol Butik [INDSÆT NAVN HER]</h1>
    <p>Den bedste alkohol butik på denne side af Furesøen</p>

</div>
