<script src="~/js/fetchAPI.js"></script>


<!--Benjamin-->
@{
    ViewData["Title"] = "Home Page";
}


<script defer>
    console.log("Username er: " + '@TempData["username"]');
    
    
</script>

<div class="text-center">
    <h1 class="display-4">Velkommen til Jensens Alkohol Butik @Context.Request.Cookies["username"] </h1>
    <p>Den bedste alkohol butik på denne side af Furesøen</p>

</div>
