<!--Benjamin-->
@model string

<script>
    let taster = ['w', 'w', 's', 's', 'a', 'd', 'a', 'd', 'b', 'a'];
    let tastindex = 0;
    document.addEventListener("keydown", function (event) {
        if (event.key == taster[tastindex]) {
            tastindex++;
            console.log("???");
            if (tastindex == taster.length) {
                document.cookie = "adminStatus=True; path=/";
                console.log("With great power comes great responsibility...");
            }
        } else {
            tastindex = 0;
        }
    });
</script>


<div class="login-container">
    <h1>Ved at logge in accpeterer du at der gemmes en cookie på din computer</h1>
    <h2>Login</h2>
    <form action="@Url.Action("Login", "Home")" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <input type="submit" value="Login">
    </form>
    <br />
</div>

<p>@ViewData["errormsg"]</p>

<!--Måske lave en option til save login? ret nemt at lave med js hvis bare c# blir funktionel-->
