<!--Benjamin-->
<h2>Tilføj produkt. ALLE felter skal indfyldes</h2>

<form method="post">
	<label> Database ID: (den du vil opdatere) </label> 
	<br />
	<input type="text" name="DBID" />
	<br />
	<label> Ny pris: </label>
	<br />
	<input type="text" name="Cost" />
	<br />
	<label> Ny mængde: </label>
	<br />
	<input type="text" name="amount" />
</form>